.App {
    display: flex;
    padding-top: 1rem;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 100px;
    width: 20rem;
    height: 20rem;
    background-color: burlywood;
}

.monitor {
    display: grid;
    grid-template-areas: 'counter' 'input';
    width: 80%;
    height: 60%;
    border-radius: 5px;
    background-color: aquamarine;
    font-size: xxx-large;
    font-weight: bold;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: counter;
    height: 80%;
}

.input {
    position: relative;
    grid-area: input;
    align-items: center;
    justify-content: space-around;
}

.input1 {
    width: 20%;
    margin: 0 10px;
    font-weight: bold;
    border-radius: 7px;
}

.input2 {
    width: 20%;
    margin: 0 10px;
    font-weight: bold;
    border-radius: 7px;
}

.buttonBlock {
    display: grid;
    grid-template-areas: 'count' 'setting';
    margin-top: 10%;
    background-color: #8a791d;
    width: 80%;
    height: 20%;
    border-radius: 5px;
}

.buttonStyle {
    margin: 0 10px;
    padding: 3px 15px;
    border-radius: 8px;
    width: auto;
    height: auto;
}

.o {
    color: #8a791d;
}

.Count {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: count;
}

.Setting {
    display: flex;
    grid-area: setting;
    align-items: center;
    justify-content: space-around;
}

.text1 {
    margin-left: 50%;
    margin-top: 20%;
    position: absolute;
    color: slategrey;
    font-size: x-small;
}

.text2 {
    margin-right: 52%;
    margin-top: 20%;
    position: absolute;
    color: slategrey;
    font-size: x-small;
}

.errorMessage {
    margin-bottom: 30%;
    position: absolute;
    color: red;
    font-size: x-small;

}